.login-page {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 400px;
    max-width: 400px;
    background-color: rgba(242, 230, 230, 0.4);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 8px;

    /* Chỉnh để giữ được ở trung tâm kể cả khi thu nhỏ */
    position: relative; 
    left: -300px; /* Điều chỉnh khoảng lệch */
}

@media screen and (max-width: 600px) {
    /* Khi kích thước màn hình nhỏ hơn, bỏ đi vị trí dịch chuyển */
    .login-container {
        left: 0;
    }
}

/* Đảm bảo body không thể nhỏ hơn kích thước container */
body {
    min-width: 400px; /* Ngăn không cho thu nhỏ trình duyệt dưới kích thước container */
    min-height: calc(80vh + 40px); /* Tính toán chiều cao tối thiểu của body dựa trên container và padding */
}




.logo {
    align-self: flex-start; /* Đặt logo ở góc trái */
    width: 60px;
    height: 60px;
}

.heading {
    text-align: center; /* Đặt tiêu đề ở giữa */
    margin-bottom:20px;
    font-size: 28px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Xếp các input theo chiều dọc */
    width: 100%;
}

.input-group label {
    margin: 5px 0; /* Khoảng cách giữa label và input */
}

.input-group input {
    padding: 10px;
    margin-bottom: 10px; /* Khoảng cách giữa các input */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.link-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    align-items: center
}

.login-button button {
    text-align: center; /* Đặt button ở giữa */
    margin: 20px 0;
    padding: 10px 20px; /* Khoảng cách trong của nút */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 40vh;
}
.link-group a {
    text-decoration: none;
    font-size: 13px;
}
.link-button-login {
    background: none; /* Loại bỏ nền */
    border: none;
    color: #39308a;
    cursor: pointer;
}
.link-group p {
    display: inline-block;
}

.alternative {
    text-align: center; /* Đặt phần Or và logo ở giữa */
    width: 50%;
    margin-bottom: 20px;
}

.or {
    margin-bottom: 20px; /* Khoảng cách giữa chữ Or và logo */
}
.social-logos {
    display: flex; /* Chuyển div thành một container flex */
    justify-content: space-between;
}

.social-logos img {
    width: 30px;
}
.social-logos img:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}

.footer {
    text-align: center; /* Đặt footer ở giữa */
    margin-top: 0px;
}



/* Modal*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đặt z-index cao để hiện trên các thành phần khác */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
