
.register-page {
    height: 100vh; /* Đảm bảo chiều cao của body là 100% */
    margin: 0; /* Xóa margin mặc định */
    display: flex; /* Sử dụng flexbox cho body */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    background-image: url('/public/bg-register.png');
    background-size: cover; /* Phóng to ảnh để bao phủ toàn bộ màn hình */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-attachment: fixed; /* Giữ ảnh cố định khi cuộn */
}
